<header>
    <div class="container_full">
        <div class="row">
            <div class="col grid-6">
                <h1>Templates</h1>
            </div>
            <div class="col grid-6 text-right">
                <a routerLink="/admin/create-resume" class="btn btn-outline-primary" style="margin-top: 22px;">Create template</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</header>

<section>
    <div class="container_full">
        <div *ngIf="TemplatesList.length == 0">
          <p>There is no template added yet!</p>
        </div>
        
        <div *ngIf="TemplatesList.length !== 0">
            <div class="job-card" *ngFor="let template of TemplatesList">
              <!-- <span>{{ employee.id }}</span> -->
              <p>{{ template.resume }}</p>
              <ul class="act_button_list">
                <li>
                  <span class="act_buttons edit" routerLink="/admin/view-template/{{ template.id }}"><i class="fa fa-eye"></i></span>
                </li>
                <li>
                  <span class="act_buttons edit" routerLink="/admin/edit-template/{{ template.id }}"><i class="fa fa-pencil"></i></span>
                </li>
                <li>
                  <span class="act_buttons delete" (click)="deleteEmployee(template.id)"
                    ><i class="fa fa-trash"></i></span>
                </li>
              </ul>
            </div>
        </div>
    </div>
</section>



