
.btn_download {
    position: fixed;
    top: 25px;
    right: 30px;
    border: 0;
    font-size: 18px;
    color: #fff;
    padding: 10px 24px;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        background-color: #8c8383 !important;
    }
}
