<style>
    .resume_view {
        border: 1px solid #ccc;
        zoom: 1.3;
        margin: 20px 15px;
        display: inline-block;
    }
</style>

<div class="resume_view">
    <div id="content" #content style="width: 800px;">
        <table style="width: 100%;">
            <tr>
                <td style="width: 50%;padding-left: 20px;background: #efefef;">
                    <span
                        style="display: inline-flex;width: 100px;height: 100px;border: 2px solid #ccc;border-radius: 50%;overflow: hidden;float: left;margin-right: 24px;background-color: #fff;"><img
                            [src]="templateData.pic" alt="writer"
                            style="width: 100%;height: 100%;object-fit: contain;"></span>
                    <h1 style="font-size: 14px;margin-top: 0;margin-bottom: 0;padding-top: 15px;">{{templateData.fname}}
                        <span [ngStyle]="{'color': templateData.theme}">{{templateData.lname}}</span>
                    </h1>
                    <strong
                        style="font-weight: 500;display: block;padding: 10px 0px 15px;color: #000;font-size: 12px;">{{templateData.post}}</strong>
                    <p style="text-transform: uppercase;font-size: 10px;font-weight: 500;margin-top: 0;">
                        (<span>{{templateData.expNum}}</span> Years exp)</p>
                </td>
                <td style="width: 50%;padding: 0px 10px 10px;font-size: 12px;"
                    [ngStyle]="{'background': templateData.headerBG}">
                    <p>
                        <a href="mailto:{{templateData.email}}" style="color: #fff;text-decoration: none;"><span
                                [ngStyle]="{'color': templateData.theme}">Email</span> : {{templateData.email}}</a>
                    </p>
                    <p>
                        <a href="callto:{{templateData.mobNum}}" style="color: #fff;text-decoration: none;"><span
                                [ngStyle]="{'color': templateData.theme}">Mob</span> : {{templateData.mobNum}}</a>
                    </p>
                    <p>
                        <span style="color: #fff;"><span [ngStyle]="{'color': templateData.theme}">Addr</span> :
                            {{templateData.addr}}</span>
                    </p>
                    <div style="margin-bottom: 10px;">
                        <span [ngStyle]="{'color': templateData.theme}">Linkedin</span> :
                        <div class="ckEditor resume_ckEditor project_box" [innerHTML]="templateData.linProfile"
                            style="display: inline-block;"></div>
                    </div>

                    <div>
                        <span [ngStyle]="{'color': templateData.theme}">Projects</span> :
                        <div class="ckEditor resume_ckEditor project_box" [innerHTML]="templateData.projectDetails"
                            style="display: inline-block;"></div>
                    </div>
                </td>
            </tr>

            <tr *ngIf="templateData.jobSkills != ''">
                <td colspan="2" style="padding: 0 20px">
                    <div style="margin-bottom: 10px;">
                        <h2 style="padding: 7px 0px;
                            font-size: 13px;
                            text-transform: uppercase;
                            margin-left: 5px;
                            border-bottom: 2px solid;margin-top: 0;" [ngStyle]="{'border-color': templateData.theme}">
                            Job Skills
                        </h2>
                        <div class="ckEditor resume_ckEditor" [innerHTML]="templateData.jobSkills"></div>
                    </div>
                </td>
            </tr>

            <tr *ngIf="templateData.experinceDetail != ''">
                <td colspan="2" style="padding: 0 20px">
                    <div>
                        <h2 style="padding: 7px 0px;
                            font-size: 13px;
                            text-transform: uppercase;
                            margin-left: 5px;
                            border-bottom: 2px solid;margin-top: 0;" [ngStyle]="{'border-color': templateData.theme}">
                            Experience
                        </h2>
                        <div class="ckEditor resume_ckEditor exp_editor" [innerHTML]="templateData.experinceDetail">
                        </div>
                    </div>
                </td>
            </tr>

            <tr *ngIf="templateData.summary != ''">
                <td colspan="2" style="padding: 0 20px">
                    <div style="margin-bottom: 10px;">
                        <h2 style="padding: 7px 0px;
                            font-size: 13px;
                            text-transform: uppercase;
                            margin-left: 5px;
                            border-bottom: 2px solid;margin-top: 0;" [ngStyle]="{'border-color': templateData.theme}">
                            Summry
                        </h2>

                        <p style="font-size: 10px">{{templateData.summary}}</p>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <hr style="border: 0;border-top: 1px solid #fff;width: 100%;margin-top: 110px;">
                </td>
            </tr>

            <tr>
                <td colspan="2" style="vertical-align: top;">
                    <div style="padding: 0 10px 0 20px;">

                        <div *ngIf="templateData.toolsTech != ''" style="margin-bottom: 10px;">
                            <h2 style="padding: 7px 0px;
                                font-size: 13px;
                                text-transform: uppercase;
                                margin-left: 5px;
                                border-bottom: 2px solid;margin-top: 0;"
                                [ngStyle]="{'border-color': templateData.theme}">
                                Tools & Technology
                            </h2>
                            <div class="ckEditor resume_ckEditor" [innerHTML]="templateData.toolsTech"></div>
                        </div>
                    </div>
                </td>
            </tr>



            <tr *ngIf="templateData.coursesDetail != ''">
                <td colspan="2" style="padding: 0 20px">
                    <div style="margin-bottom: 10px;">
                        <h2 style="padding: 7px 0px;
                            font-size: 13px;
                            text-transform: uppercase;
                            margin-left: 5px;
                            border-bottom: 2px solid;margin-top: 0;" [ngStyle]="{'border-color': templateData.theme}">
                            Courses
                        </h2>
                        <div class="ckEditor resume_ckEditor" [innerHTML]="templateData.coursesDetail"></div>
                    </div>
                </td>
            </tr>

            <tr *ngIf="templateData.achievmentsDetail != ''">
                <td colspan="2" style="padding: 0 20px">
                    <div style="margin-bottom: 10px;">
                        <h2 style="padding: 7px 0px;
                            font-size: 13px;
                            text-transform: uppercase;
                            margin-left: 5px;
                            border-bottom: 2px solid;margin-top: 0;" [ngStyle]="{'border-color': templateData.theme}">
                            Achievments
                        </h2>
                        <div class="ckEditor resume_ckEditor" [innerHTML]="templateData.achievmentsDetail"></div>
                    </div>
                </td>
            </tr>

            <!-- <tr>
                <td style="width: 50%;vertical-align: top;">
                    <div style="padding: 0 10px 0 20px;">
    
                        <div *ngIf="templateData.educationDetail != ''" style="margin-bottom: 10px;">
                            <h2 style="padding: 7px 0px;
                                font-size: 13px;
                                text-transform: uppercase;
                                margin-left: 5px;
                                border-bottom: 2px solid;margin-top: 0;" [ngStyle]="{'border-color': templateData.theme}">
                                Education
                            </h2>
                            <div class="ckEditor resume_ckEditor" [innerHTML]="templateData.educationDetail"></div>
                        </div>
                    </div>
                </td>
                <td style="width: 50%;vertical-align: top;">
                    <div *ngIf="templateData.certificationDetails != ''" style="margin-bottom: 10px;padding-right: 20px;">
                        <h2 style="padding: 7px 0px;
                            font-size: 13px;
                            text-transform: uppercase;
                            margin-left: 5px;
                            border-bottom: 2px solid;margin-top: 0;" [ngStyle]="{'border-color': templateData.theme}">
                            Certification
                        </h2>
                        <div class="ckEditor resume_ckEditor" [innerHTML]="templateData.certificationDetails" style="padding-left: 19px;"></div>
                    </div>
                </td>
            </tr> -->

            <tr *ngIf="templateData.certificationDetails != ''">
                <td colspan="2" style="padding: 0 20px">
                    <div style="margin-bottom: 10px;">
                        <h2 style="padding: 7px 0px;
                            font-size: 13px;
                            text-transform: uppercase;
                            margin-left: 5px;
                            border-bottom: 2px solid;margin-top: 0;" [ngStyle]="{'border-color': templateData.theme}">
                            Education
                        </h2>
                        <div class="ckEditor resume_ckEditor" [innerHTML]="templateData.educationDetail"></div>
                    </div>
                </td>
            </tr>

            <tr *ngIf="templateData.certificationDetails != ''">
                <td colspan="2" style="padding: 0 20px">
                    <div style="margin-bottom: 10px;">
                        <h2 style="padding: 7px 0px;
                            font-size: 13px;
                            text-transform: uppercase;
                            margin-left: 5px;
                            border-bottom: 2px solid;margin-top: 0;" [ngStyle]="{'border-color': templateData.theme}">
                            Certification
                        </h2>
                        <div class="ckEditor resume_ckEditor" [innerHTML]="templateData.certificationDetails"></div>
                    </div>
                </td>
            </tr>

            <tr *ngIf="templateData.languages != ''">
                <td colspan="2" style="padding: 0 20px">
                    <div style="margin-bottom: 10px;">
                        <h2 style="padding: 7px 0px;
                            font-size: 13px;
                            text-transform: uppercase;
                            margin-left: 5px;
                            border-bottom: 2px solid;margin-top: 0;" [ngStyle]="{'border-color': templateData.theme}">
                            Languages
                        </h2>
                        <div class="ckEditor resume_ckEditor" [innerHTML]="templateData.languages"></div>
                    </div>
                </td>
            </tr>

        </table>
    </div>
</div>


<button class="btn_download" (click)="downloadResume()" [ngStyle]="{'background': templateData.theme}">Download
    PDF</button>

<section class="theme_changer">
    <div class="form_box" [ngClass]="status ? 'show' : 'hide'">
        <div class="form_wrapper">
            <div class="form-group">
                <label for="">Theme</label>
                <input type="text" [(ngModel)]="templateData.theme" class="form-control" />
            </div>
            <div class="form-group">
                <label for="">Theme</label>
                <input type="text" [(ngModel)]="templateData.headerBG" class="form-control" />
            </div>
            <div class="clearfix"></div>
            <button class="btn my-btn-primary" (click)="updateTemplate()"
                [ngStyle]="{'background-color': templateData.theme}">Update Theme</button>
        </div>
    </div>
    <button (click)="clickEvent()" class="bnt_setting"
        [ngStyle]="{'background-color': templateData.theme , 'color':'#fff'}"><i class="fa"
            [ngClass]="status ? 'fa-times' : 'fa-cogs'"></i></button>
</section>